body {
    font-family: sans-serif;
    background-color: #181818; /* Dark background for body */
    color: #e0e0e0; /* Light color for regular text */
    display: flex;
    flex-direction: column;
}

canvas {
    border: 1px solid #555; /* Slightly brighter border for canvas in dark mode */
    background-color: #202020; /* Slightly brighter background for canvas in dark mode */
}

#tooltip {
    pointer-events: none;
    position: absolute; 
    display: none; 
    border: 1px solid #555; /* Brighter border for tooltip in dark mode */
    background-color: rgba(40, 40, 40, 0.9); /* Translucent dark background for tooltip */
    color: #e0e0e0; /* Light color for tooltip text */
    padding: 10px;
}
