/* style.css */

#grid-container {
  position: relative;
  width: 500px;
  height: 500px;
  border: 2px solid black;
}

.quest {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
}
